<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Reptile</title>
</head>
<body>
  <h1>New Reptile</h1>

  <form action="/reptiles" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" required>

    <label for="hardiness">Hardiness:</label>
    <input type="number" id="hardiness" name="Hardiness" required>

    <label for="tameability">Tameability:</label>
    <input type="number" id="tameability" name="Tameability" required>

    <label for="habitat">Habitat:</label>
    <input type="text" id="habitat" name="Habitat" required>

    <label for="diet">Diet:</label>
    <input type="text" id="diet" name="Diet" required>
    
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="Image" required>

    <button type="submit">Submit</button>
  </form>
  <a href="/reptiles">Back to Index</a>

</body>
</html>
